section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  scroll-padding-block: 17px; 
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 20px;
  margin: 10px; 
  border: 9px solid darkblue
 
